@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.app {
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently ssupported by Chrome, Edge, Opera and Firefox */
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

.configurator {
  position: fixed;
  top: 0px;
  margin-top: 5vh;
  right: 24px;
  width: 320px;
  bottom: 25vh;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}


.configurator__section__title {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: white;
}


.configurator__section__values {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px 0;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s;
}

.item:hover {
  cursor: pointer;
  opacity: 0.9;
}

.item__dot {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: solid 2px #999999;
}

.item.item--active .item__dot {
  border: solid 2px white;
}

.item__label {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: #aaa;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}


.item.item--active .item__label {
  color: white;
}

@media (max-width: 768px) {
  .app {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .configurator {
    position: relative;
    right: auto;
    width: 100%;
    bottom: auto;
    padding: 6px;
    
    box-sizing: border-box;
    background-color: bisque;
  }

  .configurator__section__title {
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0);
  }

  .chair-container {
    width: 100%;
    height: 40vh;
    position: sticky;
    color: black;
    top: 0;
    z-index: 1;
  }

  .item__label {
    text-align: center;
    font-weight: bold;
    color: #000000;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item.item--active .item__label {
    color: rgb(185, 127, 127);
  }

  .configurator__section__values {
    justify-content: center;
  }
}